/* BREAKPOINTS */

/* Standard Tank Paddings */
$tankPadding:40px;
$tankPaddingPhone:40px;
$tankPaddingXS:20px;

/* Standard Breakpoints */
$tablet_max_width:1024px;
$mobile_max_width:767px;
$mobile_min_width:576px;
$tablet_min_width:768px;
$desktop_min_width:1025px;

/* Exceptions/Precision */
$desktop_1080p_width:1920px;
$xl_max_width:1600px;
$tank_max_width:(1200px + ($tankPadding * 2));
$tank_open_width:(1201px + ($tankPadding * 2));
$lg_max_width:1024px;
$xs_max_width:575px;
$super_xs_max_width:375px;

/* COLORS */

/* Blue */
$blue: #001464;
$darkBlue:#080C1F;
$midnightBlue: #0500A9;
$footer: #001645;
$navBlue: #0083FD;
$subNavBlue: #47CFE1;
$demoBlue: #1056FB;
$directBlue:#1056FB;

/* Teal / Highlight Blue */
$teal: #00C8FF;
$cyan: #C8F0F5;
$mint: #A3D9EA;
$pacific: #CAEAF3;
$blizzard: #9DE2EB;
$azure: #EAF7FA;
$seagull:#72C0D0;
$lightazure:#E4F7FB;
$freeze: #9BE1EC;
$picton: #4BD9ED;
$lightfreeze: #E3F7FA;
$breeze: #F1F8FF;

/* Red */
$red: #FF0000;
$pink: #FF5F5F;

/* Grey */
$grey: #505969;
$lightGrey: #DFE3E8;
$whisper: #F6F7FA;
$darkGrey: #353535;
$smoke: #A9A9A9;
$flour: #F8F8F8;


/* Greens */
$green:#46D300;
$spring: #02EEA3;
$feta: #ECFBE5;
$butterfly: #16C4C9;
$kombu: #00F0C8;

/* DSP Pages */
$dspBlue:$blue;
$dspGreen:#129554;
$dspOrange:#D04219;
$dspPurple:#5B0BC3;
$dspBlueShadow:$dspBlue;
$dspGreenShadow:darken($dspGreen, 10);
$dspOrangeShadow:darken($dspOrange, 15);
$dspPurpleShadow:$dspPurple;

/* Ayuda */
$ayudaOrange:#FF6C00;
$ayuda:$ayudaOrange;
$orange:$ayudaOrange;
$ayudaGrey:#2C2C2C;
$ayudaJuice:#EF6A00;
$ayudaSplash:#00B486;
$ayudaTeal:#00DAB3;

/* Campsite */
$campsiteBlue:#004FFF;
$campsiteTeal:#25D8AE;
$campsite:$campsiteTeal;

/* Others */
$cyanondark: #68DDFD;
$dodger:#2A9CFD;
$worker: #00A8FF;
$koamaru: #2A2B6D;
$purple: #0505A9;
$deepsea: #0040BF;
$transdark: rgba(0, 0, 0, 0.5);

/* Utility Colors */
$titleTeal:$mint;

/* For Hero Headers */
$dim:#C7F0F4;

/* HEADER */
$headerHeight: 70px;
$headerHeightReduced: 40px;
$headerReduceTransitionTime: 0.6s;