@import "../variables";
@import "../mixins";

@keyframes fadeInNoBlur {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@mixin fadeInOnce($duration) {
	animation: $duration ease-out 0s 1 normal forwards running fadeInNoBlur;
}

$headerHeight: 70px;
$headerHeightReduced: 40px;
$headerReduceTransitionTime: 0.6s;

$BrandLogoWidth:16rem;
$LangSelectorWidth:6rem;

.Header {
	background-color: #FFF;
	display: grid;
	font-size: 1rem;
	height: $headerHeight;
	max-width: 1600px;
	padding: 0;
	place-items: center;
	position: fixed;
	top: 0;
	transition: height $headerReduceTransitionTime;
	width: 100%;
	z-index: 100;

	&:after {
		background: linear-gradient(to bottom, rgba(#000, 0.1) 0%, rgba(#000, 0) 100%);
		bottom: 0;
		content: "";
		height: 1rem;
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		transform: translateY(100%);
		transition: opacity 0.2s;
		width: 100%;
		z-index: 1;
	}

	&>.Tank {
		align-content: center;
		align-items: center;
		column-gap: 2rem;
		display: grid;
		grid-template-columns: $BrandLogoWidth 1fr $LangSelectorWidth;
		height: $headerHeight;
		transition: height $headerReduceTransitionTime;
		z-index: 10;
	}

	.branding {
		align-items: center;
		display: flex;
		justify-content: flex-start;
		max-width: $BrandLogoWidth;
		transition: height $headerReduceTransitionTime, opacity 0.3s;
		width: 100%;

		&:hover {
			opacity: 0.6;
		}
	}

	.broadsign_logo {
		cursor: pointer;
		height: $headerHeight;
		margin: 0;
		max-width: 100%;
		object-fit: contain;
		object-position: left center;
		transform: scale(1);
		transform-origin: left center;
		transition: transform $headerReduceTransitionTime;
	}

	&>.LangSelector {
		max-width: $LangSelectorWidth;
		width: 100%;
	}

	.burger {
		display: none;
	}
}

nav.main_nav {
	align-items: stretch;
	display: flex;
	flex-flow: row nowrap;
	height: $headerHeight;
	transition: height $headerReduceTransitionTime;

	.nav_group {
		align-items: center;
		display: flex;

		&:nth-child(1) {
			flex: 1 1 60%;
			justify-content: flex-start;
		}

		&:nth-child(2) {
			flex: 1 1 40%;
			justify-content: flex-end;
		}

		&.show_contact_lp {
			.nav_item .contact_us_lp {
				display: inline-block;
			}

			.nav_item .contact_us_popup {
				display: none;
			}
		}

		&.show_contact_popup {
			.nav_item .contact_us_lp {
				display: none;
			}

			.nav_item .contact_us_popup {
				display: inline-block;
			}
		}
	}

	.nav_item {
		@include fadeInOnce(0.6s);
		align-items: center;
		background-color: #FFF;
		cursor: default;
		display: none;
		font-size: 1.6em;
		height: $headerHeight;
		justify-content: flex-start;
		margin: 0;
		padding: 0 1em;
		position: relative;
		text-transform: uppercase;
		transition: height $headerReduceTransitionTime;

		.label {
			display: inline-block;
			line-height: 120%;
			pointer-events: none;
			text-align: center;
			transition: font-size 0.3s, opacity 0.3s;
			white-space: nowrap;
		}

		&:after {
			background: linear-gradient(to right, #19CDFF 15%, #1E1BB2 45%, #FF1919 90%);
			bottom: 0;
			content: "";
			display: block;
			height: 2px;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
			transition: width 0.2s ease-out;
			width: 0%;
		}

		&.active {
			&:after {
				width: calc(100% - 2em);
			}
		}

		&.button {
			.label {
				background-color: #636F89;
				border: 0 none;
				border-radius: 0.8rem;
				color: #FFF;
				cursor: pointer;
				display: inline-block;
				padding: 0.7em 1.2em 0.6em;
				pointer-events: all;
				text-transform: uppercase;
				transition: opacity 0.3s, padding 0.2s;
				white-space: normal;

				&:hover {
					opacity: 0.6;
				}
			}

			&:after {
				display: none;
			}
		}
	}
}

.nav_drawers {
	align-items: stretch;
	background-color: #FFF;
	height: fit-content;
	left: calc(50% + 8.5px);
	max-height: 0vh;
	max-width: 1600px;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	position: fixed;
	top: $headerHeight;
	transform: translateX(-50%);
	transition: opacity 0.4s ease-out, max-height 0.4s ease-out, top $headerReduceTransitionTime;
	width: 100%;

	.drawer_title {
		display: none;
	}

	&:after {
		background: linear-gradient(to bottom, rgba(#000, 0.1) 0%, rgba(#000, 0) 100%);
		bottom: 0;
		content: "";
		height: 1rem;
		left: 0;
		pointer-events: none;
		position: absolute;
		transform: translateY(100%);
		width: 100%;
		z-index: 1;
	}

	&.active,
	&:hover {
		max-height: 100vh;
		opacity: 1;
		overflow: visible;
		pointer-events: all;
	}
}

.nav_drawer {
	align-items: stretch;
	display: flex;
	font-size: 1rem;
	height: fit-content;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	transition: opacity 0.6s;
	width: 100%;
	z-index: 1;

	&.active,
	&:hover {
		opacity: 1;
		pointer-events: all;
		position: relative;
		z-index: 10;

		aside {
			opacity: 1;
			transition: none;
		}
	}

	aside {
		flex: 1 1 30%;
		max-width: calc(200px + 16em);
		opacity: 0;
		transition: opacity 0s linear 0.4s;
	}

	section {
		column-gap: 6em;
		display: grid;
		flex: 1 1 70%;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto 1fr;
		padding: 3em 6em 4em;
		row-gap: 2em;
	}

	.items_header {
		align-items: flex-start;
		border-bottom: 1px solid #FFF;
		cursor: default;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		margin: 0;
		padding: 0;

		&>a {
			align-items: flex-start;
			cursor: pointer;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
		}

		.tagline {
			flex: 0 0 100%;
			font-size: 1.5em;
			margin: 1em 0;
		}
	}

	.items_header_title {
		align-items: center;
		display: flex;
		flex: 1 0 5em;
		flex-flow: row nowrap;
		height: 5em;
		justify-content: flex-start;
		margin-top: 0;
		width: 100%;

		img {
			display: inline-block;
			flex: 1 1 20%;
			margin: auto 0;
			max-height: 100%;
			max-width: 6em;
			object-fit: contain;
		}

		figcaption {
			@include fontBolder;
			color: #2D3D4C;
			display: inline-block;
			flex: 1 1 75%;
			font-size: 2.2em;
			line-height: 110%;
			margin: auto 0;
			max-width: calc(100% - 5em);
			padding-left: 1em;
			text-transform: none;
		}

		.icon_broadsign {
			filter: saturate(0) brightness(0);
			object-position: left center;
			opacity: 0.8;
		}
	}

	.items {
		align-items: stretch;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;

		.subheader {
			@include fontBolder;
			color: #2D3D4C;
			cursor: default;
			font-size: 1.5em;
		}
	}

	.item {
		$itemPadding: 1.4em;
		border-radius: 1.6em;
		cursor: pointer;
		display: flex;
		flex-flow: column nowrap;
		margin-left: -$itemPadding;
		margin-right: -$itemPadding;
		max-width: calc(100% + #{$itemPadding * 2});
		padding: 1.4em;
		width: calc(100% + #{$itemPadding * 2});

		.name {
			@include fontBold;
			color: $darkGrey;
			font-size: 1.8em;
		}

		.tagline {
			color: $darkGrey;
			font-size: 1.6em;
			margin-top: 0.3em;
		}

		.description {
			@include fontReg;
			color: $darkGrey;
			font-size: 1.4em;
			padding-top: 5px;
		}

		.thumbnail {
			border-radius: 1em;
			overflow: hidden;
			transition: filter 0.3s;
		}

		.resource_description {
			color: $darkGrey;
			font-size: 1.5em;
			line-height: 140%;
		}

		&:hover,
		&.blog:hover {
			background-color: #EEF0F5;

			.name {
				color: $midnightBlue;
			}

			.thumbnail {
				filter: brightness(1.2);
			}
		}
	}

	&.resources {
		.items_header {
			border-bottom-color: $lightGrey;
			padding-bottom: 1em;
			transition: border-color 0.3s, color 0.3s;

			img {
				filter: saturate(0.03) brightness(4.2);
				opacity: 0.7;
				transition: filter 0.3s, opacity 0.3s;
			}

			&:hover {
				border-bottom-color: $midnightBlue;

				img {
					filter: saturate(1) brightness(1);
					opacity: 1;
				}

				figcaption,
				.tagline {
					color: $midnightBlue;
				}
			}

			&.youtube {
				img {
					max-height: 3em;
					max-width: 4em;
					object-position: left center;
				}
			}

			figcaption,
			.tagline {
				color: $darkGrey;
			}
		}
	}

	&.portal {
		section {
			column-gap: 10%;
		}
	}

	.blog {
		.thumbnail {
			height: 9vw;
			margin-bottom: 1em;
			max-height: 14em;
		}
	}

	.ebooks_webinars {
		.item {
			align-items: flex-start;
			display: none;
			flex-flow: row nowrap;
		}

		.thumbnail {
			flex: 0 0 33%;
			max-height: 12em;
			max-width: 12em;
		}

		.resource_description {
			flex: 1 1 66%;
			padding-left: 1em;
		}
	}

	.youtube {
		.item {
			align-items: flex-start;
			display: flex;
			flex-flow: row nowrap;
		}

		.thumbnail {
			flex: 0 0 33%;
			height: 100%;
			max-height: 8em;
			max-width: 12em;
		}

		.resource_description {
			flex: 1 1 66%;
			padding-left: 1em;
		}
	}

	.training,
	.community {
		.item {
			height: 100%;
			justify-content: space-between;
		}

		.description {
			margin-bottom: auto;
			padding-bottom: 2em;
		}

		.thumbnail {
			flex: 1 1 100%;
			margin-top: auto;
			max-height: 34em;
		}
	}

	.mobile_only {
		display: none;
	}
}

.mobile_nav {
	display: none;
}

.LangSelector {
	align-items: center;
	-webkit-appearance: none;
	appearance: none;
	display: flex;
	height: auto;
	justify-content: flex-end;
	position: relative;
	top: 2px;
	transform-origin: right center;
	transition: transform $headerReduceTransitionTime;
	z-index: 9999;

	&:after {
		border-color: $grey transparent transparent;
		border-style: solid;
		border-width: 0.8rem 0.6rem 0;
		content: " ";
		pointer-events: none;
		position: absolute;
		right: 1rem;
		top: 50%;
		transform: translateY(-45%);
		z-index: 40;
	}

	&.disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	.current_lang {
		@include fontMed;
		-webkit-appearance: none;
		appearance: none;
		background-color: #FFF;
		border: 1px solid $lightGrey;
		color: $grey;
		cursor: pointer;
		display: flex;
		font-size: 1.6rem;
		height: 3.6rem;
		line-height: 140%;
		max-width: $LangSelectorWidth;
		padding: 0.6rem 2.6rem 0.5rem 1rem;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		vertical-align: middle;
		width: 100%;
		z-index: 1;

		&.disabled {
			cursor: default;
		}
	}

	.lang_options {
		@for $i from 1 through 8 {
			&.length_#{$i} {
				height:#{($i * 2.7rem) + 0.8};
			}
		}

		align-items: stretch;
		background-color: #F9F9F9;
		bottom: 0;
		box-shadow: 2px 2px 8px rgba(#000, 0.2);
		display: flex;
		flex-flow: column nowrap;
		height: 8.9rem;
		margin-left: 0;
		max-height: 0px;
		max-width:60px;
		opacity: 0;
		overflow: hidden;
		padding: 0;
		pointer-events: none;
		position: absolute;
		top: calc(50% + 1.8rem);
		transition: max-height 0.3s,
		padding 0.3s,
		opacity 0.2s;
		width: 100%;
		z-index: 1;
	}

	.option {
		@include fontMed;
		color: $grey;
		cursor: pointer;
		display: block;
		font-size: 1.6rem;
		line-height: 100%;
		padding: 0.6rem 1rem 0.5rem;
		text-align: left;
		text-decoration: none;
		text-transform: uppercase;
		transition: background-color 0.3s;
		width: 100%;

		&:hover {
			background-color: #F1F1F1;
		}
	}

	&:hover .lang_options,
	&.active .lang_options {
		@for $i from 1 through 8 {
			&.length_#{$i} {
				max-height:#{($i * 2.7rem) + 0.8};
			}
		}

		opacity: 1;
		padding: 0.4rem 0;
		pointer-events: all;
	}
}

.reduced_nav {
	.Header {
		height: $headerHeightReduced;

		&:after {
			opacity: 1;
			transition: opacity 3s;
		}

		&>.Tank,
		.branding {
			height: $headerHeightReduced;
		}

		.broadsign_logo {
			transform: scale(0.6);
		}

		.main_nav {
			height: $headerHeightReduced;

			.nav_item {
				font-size: 1.4em;
				height: $headerHeightReduced;

				&.button .label {
					padding: 0.5em 1em 0.4em;
				}
			}
		}

		.LangSelector {
			transform: scale(0.7);
		}

		.nav_drawers {
			top: $headerHeightReduced;
		}
	}
}

.Header .Modal.contact_us_form {
	@include fadeInOnce(0.6s);
	background-color: rgba(0, 20, 100, 0.6);
	z-index: 10000;

	.close_btn {
		align-items: center;
		appearance: none;
		background-color: transparent;
		border: 0 none;
		cursor: pointer;
		display: flex;
		font-size: 5rem;
		justify-content: center;
		position: absolute;
		right: 1rem;
		text-shadow: 1px 1px 1px rgba(#000, 0);
		top: 0.6rem;
		transition: color 0.3s, text-shadow 0.3s;

		&:hover {
			color: #353535 !important;
			text-shadow: 1px 1px 4px rgba(#000, 0.3);
		}
	}

	.inner {
		align-items: flex-start;
		background-color: white;
		border-radius: 2rem;
		display: flex;
		height: auto;
		margin: 0 auto;
		max-height: 90vh;
		max-width: 90rem;
		overflow: auto;
		padding: 8rem;
		width: 90vw;
	}

	.Form {
		margin: auto;
		max-width: 600px;
		min-height: 0;
		padding: 6rem 0;

		input,
		select,
		textarea {
			border: 1px solid #DDD;
			padding-left: 0.6em;
			padding-right: 0.6em;
		}

		.actions {
			text-align: center;
		}

		.hs-button {
			background-color: $teal;
			border-color: $teal;
			border-radius: 0.8rem;

			&:hover,
			&:active {
				background-color: #FFF;
				color: $teal;
			}
		}
	}
}

.is_contact nav.main_nav .nav_item.button {

	.contact_us_lp,
	.contact_us_popup {
		pointer-events: none;
		user-select: none;
	}
}